*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	background: #B83A99;
}

.logo{
	width: 10%;
	margin: 10em auto 0;
}

img{
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
}
.contact{
	padding-top: 3em;
	text-align: center;
	font-size: 24px;
	font-family: 'helvetica';
	font-weight: bold;
}
a{
	color: #490945;
}
.links{
	text-align: center;
	margin-top: 1.5em;
	color: white;
}

@media screen and (max-width: 960px){
	.logo{
		width: 40%
	}
}